
#grid16x16 {
    display: flex;
    border: .1px solid black;
    width: 500px;
    height: 500px;
   flex-direction: column;
}

.column {
    display: flex;
    border: .1px solid black;
    box-sizing: border-box;
    flex: 1;
}

.rows {
    border: .1px solid black;
    box-sizing: border-box;
    flex: 1;
}

.highlight {
    background-color: darkorchid;
}
