
#grid16x16 {
    display: flex;
    border: 10px solid black;
    width: 500px;
    height: 500px;
   flex-direction: column;
}

.column {
    display: flex;
    box-sizing: border-box;
    flex: 1;
}

.rows {
    box-sizing: border-box;
    flex: 1;
}

.highlight {
    background-color: black;
}
